.customer-card {
    // padding: 25px 0;
    height: calc(100% - 65px);
    position: relative;
    overflow: hidden;
    @media (max-width: 767px) {
        position: unset;
    }
    &__filter {
        text-align: right;
        padding: 0 25px;

        .ant-select {
            max-width: 150px;
            width: 100%;
            min-width: unset;

            .ant-select-selection-item {
                text-align: left;
            }

            .ant-select-selection-placeholder {
                text-align: left;
            }
        }
    }

    &__list {
        @include scrollbar;
        overflow-y: auto;
        height: calc(100% - 150px);
        // position: absolute;
        width: 100%;
        @media (max-width: 767px) {
            position: unset;
        }
    }

    &__item {
        @include flexbox;
        padding: 10px 10px 0 25px;

        border-top: 2px solid #f3f2f2;
        border-right: 3px solid white;

        @media (max-width: 1440px) {
            @include flex-direction(column);
        }

        @media (max-width: 767px) {
            @include flex-direction(unset);
        }

        &:hover,
        &.active {
            background-color: rgba(241, 167, 92, 0.1);
            border-right: 3px solid rgb(247, 46, 46);
        }

        .btn {
            margin-bottom: 15px;
            min-width: unset;
            margin-right: 10px;
        }
    }

    &__status {
        border: 1px solid #f1963a;
        border-radius: 50%;
        width: 17px;
        height: 17px;
        font-size: 8px;
        color: red;
        background-color: yellow;
        position: absolute;
        bottom: 0;
        left: 50%;
        @include transform(translateX(-50%));
    }

    &__avatar {
        @include flexbox;
        @include justify-content(center);
        width: 40%;
        margin-right: 10px;
        text-align: center;
        position: relative;

        @media (max-width: 1440px) {
            @include flex-direction(column);
            // width: 100%;
            text-align: unset;
        }

        .avatar-image {
            margin-bottom: 20px;
            width: 70px;
            height: 70px;

            &.member-vip {
                position: relative;

                &::before {
                    content: "VIP";
                    @include transform(translateX(-50%));
                    position: absolute;
                    bottom: -8px;
                    border: 1px solid yellow;
                    background-color: yellow;
                    color: red;
                    border-radius: 50%;
                    left: 50%;
                    font-size: 9px;
                    padding: 4px;
                }
            }

            img {
                border: 1px solid #f1963a;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                overflow: hidden;
                background-color: greenyellow;
            }
        }

        .btn {
            bottom: 0;
            position: absolute;
            left: 50%;
            width: fit-content;
            @include transform(translateX(-50%));

            @media (max-width: 1440px) {
                position: unset;
                left: unset;
                transform: unset;
            }
            @media (max-width: 767px) {
                margin-top: 5px;
            }
        }
    }

    &__info {
        height: 100%;
        width: 60%;

        @media (max-width: 1440px) {
            width: 100%;
        }

        .name {
            font-size: 18px;
            font-weight: bold;
            color: #1825aa;
            margin-bottom: 15px;
            line-height: normal;
        }

        .info-code {
            @include flexbox;
            @include flex-wrap(wrap);
            @include align-items(baseline);

            .icon {
                color: red;
                padding-right: 5px;
            }

            .code {
                color: red;
                padding-right: 15px;
            }

            .text {
                color: gray;
            }

            &.active {
                .icon {
                    color: green;
                }

                .code {
                    color: green;
                }
            }
        }

        .info-action {
            @include flexbox;
            @include flex-wrap(wrap);
            margin-top: 15px;

            .btn-red-outline {
                margin: 0 15px 15px 0;
            }
        }
    }

    &__pagination {
        .scb-pagination {
            padding: 25px;
            text-align: center;
            position: absolute;
            bottom: 0;
            width: 100%;
        }
        .ant-pagination {
            .ant-pagination-item-active {
                border: 1px solid black !important;
                a {
                    color: black !important;
                }
            }
            .ant-pagination-item {
                background-color: unset;
                border-right: none;
                &:hover {
                    color: black;
                }
            }
            .ant-pagination-next {
                background-color: unset;
                min-width: 25px;
            }
            .ant-pagination-prev {
                background-color: unset;
                border-right: none;
                min-width: 25px;
            }
        }
    }
}

.cif-card-customer {
    .ant-card {
        padding: 0;
    }
    .ant-card-body {
        height: 100%;
    }
    .title__card {
        padding: 25px;
        padding-bottom: 0;

        .text {
            margin-bottom: 0;
        }
    }
}
.cif--customer-detail {
    background-color: #fff;
}
