.text-link {
    a {
        color: #666b77;
        text-decoration: none;
    }
}
.chatbot-table {
    tbody tr {
        &:hover,
        &.active {
            background-color: unset;
        }
    }
}
.cif-card {
    margin-bottom: 25px;
    height: 100%;
    background: #fff;
    border: none;
    &__padding {
        padding: 25px;
    }
}
.cif--container {
    border: none;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    position: relative;
    border-radius: 2px;
    .title__card {
        padding: 25px 25px 0;
    }
}
.customer-card {
    &__filter {
        display: flex;
        justify-content: flex-end;
        text-align: right;
        padding: 0 25px;
    }
    .item {
        &__filter {
            max-width: 150px;
            width: 100%;
            min-width: unset;
        }
    }
}
.radio__option {
    border: none !important;
    display: inline;
    .radio {
    }
    .radio_label {
        padding-left: 10px;
    }
}
.tabs-top {
    flex-direction: column;
}
.tabs {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    display: flex;
    overflow: hidden;
    .tabs-nav {
        position: relative;
        display: flex;
        flex: none;
        align-items: center;
        &::before {
            position: absolute;
            right: 0;
            left: 0;
            border-bottom: 1px solid #f0f0f0;
            content: "";
        }
    }
}

.tabs-nav-wrap {
    position: relative;
    display: flex;
    -webkit-box-flex: 1;
    flex: auto;
    align-self: stretch;
    overflow: hidden;
    white-space: nowrap;
    transform: translate(0);
    &::before {
        position: absolute;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.3s;
        content: "";
        pointer-events: none;
    }
    &::after {
        position: absolute;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.3s;
        content: "";
        pointer-events: none;
    }
}
.tabs-nav-list {
    transition: transform 0.3s, -webkit-transform 0.3s;
    position: relative;
}
.tabs-tab {
    position: relative;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0 32px 0 0;
    padding: 12px 0;
    font-size: 14px;
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    &:hover {
        color: #40a9ff;
    }
}
.tabs-tab-btn {
    outline: none;
}

.tabs-tab-active {
    border-bottom: 2px solid #1890ff;
    .tabs-tab-btn {
        color: #1890ff;
        font-weight: 500;
    }
}
// select::-ms-expand {
//     display: none;
// }
select {
    -webkit-appearance: none;
    appearance: none;
}
select.customs-select {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%), radial-gradient(#fff 70%, transparent 72%);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 0.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
    background-repeat: no-repeat;
    &:focus {
        background-image: linear-gradient(45deg, gray 50%, transparent 50%),
            linear-gradient(135deg, transparent 50%, gray 50%), radial-gradient(#fff 70%, transparent 72%);
        background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 0.5em) 0.5em;
        border-color: green;
        outline: 0;
    }
}
