.customer-sign {
    .ant-select-selector {
        background-color: #f5f5f5 !important;
        border: unset !important;
    }
    .ant-select-arrow {
        color: black;
    }
    .ant-select-focused:not(.ant-select-disabled).ant-select-single:not(.ant-select-customize-input)
        .ant-select-selector {
        box-shadow: unset;
    }
    .cus-table {
        table {
            min-width: 750px;
            tbody {
                tr {
                    border-bottom: 1px solid #e7e7e0;
                    &:hover,
                    &.active {
                        background-color: unset;
                    }
                }
            }
        }
    }
    .form-group {
        margin-bottom: unset;
    }
    .signature {
        .img-sign {
            @include flex_center;
            width: 100%;
            height: 100px;
            background: #ffffff;
            border: 1px dashed black;
            overflow: hidden;
            cursor: pointer;
            margin-bottom: 10px;
            img {
                @include flex_center;
                position: relative;
                background: #ffffff;
                overflow: hidden;
            }
            i {
                position: absolute;
                top: -10px;
                right: 0;
                font-size: 15px;
            }
        }
        .text-sign {
            label {
                border: 1px solid black;
                width: 100%;
                padding: 10px 0;
                text-align: center;
                white-space: pre-wrap;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                display: -webkit-box;
            }
        }
        .ant-upload {
            .ant-btn {
                overflow: hidden;
                opacity: 0;
            }
        }
    }
    .ant-upload-list-picture-card-container {
        display: none;
    }
    .ant-upload.ant-upload-select-picture-card {
        width: 100%;
        height: 154px;
        padding: 10px;
        border: 1px dashed black;
        background-color: white;
        .ant-upload {
            border: 1px solid black;
            background-color: #009aff;
            display: block;
        }
    }
    .list-upload {
        @include flex_center;
        @include flex-direction(column);
        height: 100%;
        &__icon {
            font-size: 35px;
            margin-bottom: 10px;
        }
    }
}
