.scb-tab-infor-detail {
    .form-group {
        .label {
            @include fw-bold;
        }
    }

    .ant-form-item {
        margin: unset;
    }

    .label {
        @include fw-bold;
        color: #666b77;
        font-size: 14px;
    }

    .ant-select-arrow {
        color: #666b77;
    }

    .ant-checkbox-checked {
        &::after {
            border: 1px solid #d9d9d9;
        }

        .ant-checkbox-inner {
            border: 1px solid #d9d9d9;
        }
    }

    .ant-checkbox-wrapper,
    .ant-checkbox-wrapper {
        margin-left: unset;
        padding: 5px 0;

    }

    .ant-input-affix-wrapper,
    .ant-input-affix-wrapper input.ant-input,
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        background-color: #f2f5fa;
    }

    .ant-radio-checked {
        .ant-radio-inner {
            border: 1px solid #d9d9d9;
        }
    }

    .ant-radio-inner {
        &::after {
            background-color: #646568a6;
        }
    }

    .ant-radio-wrapper {
        padding: 5px 0;
    }
}

.scb-checkbox-note {
    @include flexbox;
    @include flex-wrap(wrap);
    @include align-items(center);
    margin-bottom: 16px;

    .form-group {
        flex-grow: 1;
        margin: unset;
    }
}