.cus-pagination {
    .pagination {
        @include align-items(center);
        @include flex-wrap(wrap);
        @include justify-content(flex-end);
        padding: 5px 0;

        @media (max-width: 767px) {
            @include justify-content(flex-start);
        }

        .label {
            @include flexbox;
            @include align-items(center);
            @include fw-normal;
            font-size: 16px;
            color: #304460;
            padding-right: 10px;
            padding-left: 10px;

            a {
                padding: 0 3px;
                color: #0080ff
            }

        }

        ul {
            @include flexbox;
            @include flex-wrap(wrap);
            list-style: none;
            padding: 0;
            margin: 0;

        }

        li {
            @include flex_center;
            @include fw-normal;
            color: #666b77;
            background-color: rgba(0, 128, 255, 0.1);
            font-size: 16px;
            text-align: center;
            min-width: 36px;
            height: 36px;

            &:last-child {
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }

            &:first-child {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }

            &:not(:first-child) {
                border-left: 1px solid rgba(0, 128, 255, 0.1);
            }

            @media (max-width: 525px) {
                margin-bottom: 5px;
            }
        }

        a {
            @include flex_center;
            color: inherit;
            height: 100%;

            &:hover {
                text-decoration: none;
            }
        }

        .input {
            width: auto;

            @media (max-width: 525px) {
                width: 100%;
            }
        }

        .form-control {
            outline: none;
            box-shadow: none;
            width: 130px;
            text-align: center;
            border: none;
            color: #666b77;
            background-color: transparent;
            border-radius: 0;
            padding-left: 10px;
            padding-right: 10px;

            @media (max-width: 525px) {
                min-width: 130px;
                width: 100%;
            }

            &::-webkit-input-placeholder {
                /* Chrome/Opera/Safari */
                color: #666b77;
            }

            &::-moz-placeholder {
                /* Firefox 19+ */
                color: #666b77;
            }

            &:-ms-input-placeholder {
                /* IE 10+ */
                color: #666b77;
            }

            &:-moz-placeholder {
                /* Firefox 18- */
                color: #666b77;
            }

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            /* Firefox */
            &[type="number"] {
                -moz-appearance: textfield;
            }
        }

        .number {
            a {
                @include fw-normal;
                color: #666b77;
                padding: 0 12px;

                &.active,
                &:hover {
                    border-color: #0080ff;
                    background-color: #0080ff;
                    color: #fff;
                }
            }
        }

        .icon {
            a {
                @include flex_center;
                padding: 0 12px;
                font-size: 14px;
                color: #666b77;
                width: 100%;
                height: 100%;

                &.active,
                &:hover {
                    border-color: #0080ff;
                    background-color: #0080ff;
                    color: #fff;
                }
            }

            @media (max-width: 525px) {
                width: calc(50% - 2px);

            }
        }
    }
}