body {
    font-size: 16px;
    font-family: $RobotoRegular;
    padding: 0;
    margin: 0;
}

.main_content {
    @include scrollbar;
    @include flex(1);
    background-color: #f2f5fa;
    min-height: calc(100vh - 60px);
    max-height: calc(100vh - 60px);
    padding: 30px 15px 30px 15px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;

    .sidebar {
        position: absolute;
        @include transform(translateX(-245px));

        .nav {
            .nav-link {
                .icon {
                    margin: 0;
                }
            }
        }
    }

    @media(max-width: 767px) {
        margin-top: 60px;
        padding: 20px 0 0 0;
    }
}

.main_container {
    @include flex(1);
    @include flexbox;
    overflow: hidden;
}

.card {
    background-color: #ffffff;
    padding: 25px;
    margin-bottom: 25px;
    border: none;
    border-radius: unset;
}

.title {
    &__card {
        @include flexbox;
        @include justify-content(space-between);
        @include flex-wrap(wrap);
        font-family: $RobotoMedium;
        font-size: 18px;
        color: #304460;
        margin-bottom: 10px;

        .text {
            margin: 0 30px 15px 0;
        }

        .action {
            .btn {
                @media(max-width: 480px) {
                    margin-bottom: 15px;
                }
            }
        }
    }

    &__action-button {
        @include flexbox;
        @include flex-wrap(wrap);
        @include justify-content(flex-end);

        @media(max-width: 480px) {
            @include justify-content(flex-start);
        }

        .btn-light-blue {
            margin-left: 15px;

            @media(max-width: 480px) {
                margin: 0 15px 15px 0;
            }
        }
    }
}

.text-decoration {
    text-decoration: underline;
    cursor: pointer;
}

.header-page {
    @include flexbox;
    @include justify-content(space-between);
    @include flex-wrap(wrap);
    margin-bottom: 20px;

    &__title {
        font-family: $RobotoMedium;
        color: #304460;
        font-size: 30px;
        margin-right: 30px;
    }

    &__action {
        @include flexbox;
        @include flex-wrap(wrap);
    }

    &__action-blue {
        @include flex_center;
        margin: 0 10px 10px 0;
        height: 36px;
        border-radius: 3px;
        padding: 0 10px;
        background-color: #0080ff;

        @media(max-width: 480px) {
            display: block;
            height: unset;
        }

        .text {
            color: rgba(255, 255, 255, 0.7);
            margin-right: 5px
        }

        .form-group {
            @include flex_center;
            margin-bottom: 0;

            .select2 {
                width: 100% !important;
                min-width: 150px;
                height: 36px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                .select2-selection {
                    @include flexbox;
                    @include align-items(center);
                    padding-right: 25px !important;
                    position: relative;
                    border: none;
                    border-radius: 0;
                    outline: none;

                    &::before {
                        position: absolute;
                        content: "\f107";
                        font-size: 11px;
                        color: #ffffff;
                        right: 10px;
                        font-family: 'Line Awesome Free';
                        font-weight: 900;
                    }

                    &:focus {
                        outline: none;
                        border: none;
                    }
                }

                .select2-selection__rendered {
                    @include flexbox;
                    @include align-items(center);
                    height: 100% !important;
                    color: #ffffff !important;
                    width: 100%;
                    min-width: 150px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .select2-selection__arrow {
                    display: none;
                }

                .select2-selection--single {
                    min-height: 36px;
                    background-color: #0080ff;
                }
            }

            .select2-dropdown {
                border: solid 1px #bce0fd;
            }
        }

        &.date-double {
            @media(max-width: 375px) {

                @include flex-direction(column);
                @include justify-content(flex-start);
                height: unset;

                .text {
                    width: 100%;
                }
            }

        }

        .cus-date-picker {
            @include flexbox;
            @include align-items(center);
            color: #ffffff;

            .form-control {
                max-width: 120px;
                border: none;
                height: 36px;
            }

            &::before {
                right: 0;
            }
        }
    }

    &__date-filter {
        @include flexbox;
        height: 36px;

        .date {
            background-color: rgba(0, 128, 255, 0.1);
            border: solid 1px rgba(0, 128, 255, 0.16);
            padding: 7px 15px;
            color: #666b77;
            &:hover,
            &.active {
                color: #0080ff;
                a {
                    color: #0080ff;
                }
            }

            a {
                color: #666b77;
                text-decoration: none
            }
        }
    }
}

.action {
    @include fw-normal;
    font-size: 14px;
    padding: 5px 6px;
    text-align: center;
    height: 30px;
    width: 90px;
    cursor: pointer;
    border-radius: 3px;

    &-join {
        background-color: rgba(24, 210, 107, 0.1);
        color: #18d26b;

        &:hover,
        &.active {
            background-color: #18d26b;
            color: #fff;
        }
    }

    &-out {
        background-color:
            rgba(255, 63, 63, 0.1);
        color: #ff3f3f;

        &:hover,
        &.active {
            background-color: #ff3f3f;
            color: #fff;
        }
    }
}

.icon-avatar {
    .icon {
        @include flex_center();
        cursor: pointer;
        width: 32px;
        height: 32px;
        background-color: #f5f6f6;
        color: rgba(33, 43, 54, 0.2);
        border-radius: 50%;
    }
}

.footer-table {
    @include flexbox;
    @include justify-content(space-between);
    @include flex-wrap(wrap);
    @include align-items(center);

    &__total {
        margin-right: 30px;
    }

    .cus-pagination {
        .pagination {
            @include align-items(center);
        }

        ul {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

.footer-action-btn {
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(flex-end);

    @media(max-width: 480px) {
        @include justify-content(center);
        @include flex-direction(column);
    }

    .btn {
        margin-left: 15px;

        @media(max-width: 480px) {
            margin: 0 0 15px 0;
        }
    }
}

.notification {
    .cus-alert {
        position: fixed;
        top: 60px;
        right: 0;
    }
}