.sidebar{
    background-image: url(/images/backGroundSidebar.png);
}
.login__bg{
    background-image: url(/images/discuss-marketing.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} 