.cus-checkbox-cirele {

    .ant-checkbox-inner {
        border-radius: 50%;
        border: 1px solid #646568a6;

        &::after {
            background-color: #646568a6;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            left: 14%;
            top: 61%;
        }
    }

    .ant-checkbox-checked::after {
        border-radius: 50%;
    }
}